# Programs built
out/
examples-out/
dist/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
coverage.*

# vendor directory
vendor/

# VS Code settings
.vscode/

# venv for pre-commits
.venv/
venv/

.idea/